// затемнение на тон
@function darker($color, $tone) {
  $adjust: -16 * $tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

// осветление на тон
@function lighter($color, $tone) {
  $adjust: 16 * $tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

// $defaultTextColor: darker(#d6dadd, 0);
$commentTextColor: darker(#d6dadd, 7);
$infoTextColor: darker(#d6dadd, 2);

$comicsSearchBorderColor: darker(#d6dadd, 5);

// animations
$animationVeryShortTime: 0.11s;
$animationShortTime: 0.33s;
$animationMiddleTime: 0.77s;
$animationLongTime: 1.33s;
$animationFunction: cubic-bezier(0.165, 0.84, 0.44, 1);

// Colors
$pink: rgb(230, 0, 115);
$guardian: #00bfff;
$pisos: #dfa612;

$bgColor: #1a1d24;
$sidebarBgColor: darker($bgColor, 1);

$defaultTextColor: lighter($bgColor, 10);
