<template>
  <section class="example">
    <div class="tips">
      <div class="tip-wrapp" v-for="(tip, key) in $t('pages.home.searchTips')" :key="key">
        <div class="tip">{{ tip }}</div>
      </div>
    </div>
    <div class="locale">
      <div class="lang-wrapp">
        <div class="lang" @click="setLocale('ru')">Русский язык</div>
      </div>
      <div class="lang-wrapp">
        <div class="lang" @click="setLocale('en')">English</div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({ components: {} })
export default class Example extends Vue {
  private async setLocale(token: string) {
    this.$i18n.locale = token;
  }
}
</script>

<style lang="scss" scoped>
@import "@/shared/common.scss";

.example {
  display: grid;
  grid: auto auto / 1fr;

  justify-items: center;
  align-items: center;
  gap: 2.4ch;
}

.tips {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1ch;

  &::v-deep .tip-wrapp {
    display: inline;
  }

  &::v-deep .tip {
    display: inline;
    color: rgb(75, 75, 83);
    text-shadow: 0rem 0rem 0.4rem transparent;
    transition: color $animationMiddleTime $animationFunction,
      text-shadow $animationMiddleTime $animationFunction;

    &:hover {
      color: rgb(173, 173, 184);
      text-shadow: 0rem 0rem 0.4rem rgb(173, 173, 184);
      transition: color $animationVeryShortTime $animationFunction,
        text-shadow $animationVeryShortTime $animationFunction;
    }
  }
}

.locale {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(110px, auto));
  justify-content: center;
}

.lang {
  cursor: pointer;
  display: inline;
  user-select: none;

  color: rgb(75, 75, 83);
  text-shadow: 0rem 0rem 0.4rem transparent;
  transition: color $animationMiddleTime $animationFunction,
    text-shadow $animationMiddleTime $animationFunction;

  &:hover {
    color: rgb(173, 173, 184);
    // color: $pink;
    // text-shadow: 0rem 0rem 0.4rem rgb(173, 173, 184);
    text-shadow: 0rem 0rem 0.4rem $pink;
    transition: color $animationVeryShortTime $animationFunction,
      text-shadow $animationVeryShortTime $animationFunction;
  }
}

.lang-wrapp {
  text-align: center;
}
</style>
