<template>
  <section class="home">
    <div class="search-bar">
      <alphabet
        :signature="'カ'"
        :alphabet="katakana"
        :searchRequestAddLetterParent="searchRequestAddLetter"
      />
      <alphabet
        :signature="'ひ'"
        :alphabet="hiragana"
        :searchRequestAddLetterParent="searchRequestAddLetter"
      />
      <input
        class="search-box"
        type="text"
        :placeholder="$t('pages.home.searchBox')"
        v-model="searchRequest"
        @keyup.enter="searchStart"
        @input="onSearchRequestChange"
      />
    </div>

    <router-view :key="$route.fullPath" />
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { debounce } from "lodash";

import Alphabet from "@/components/Alphabet.vue";

@Component({ components: { Alphabet } })
export default class Home extends Vue {
  private katakana = [
    ["ア", "イ", "ウ", "エ", "オ"],
    ["カ", "キ", "ク", "ケ", "コ"],
    ["サ", "シ", "ス", "セ", "ソ"],
    ["タ", "チ", "ツ", "テ", "ト"],
    ["ナ", "ニ", "ヌ", "ネ", "ノ"],
    ["ハ", "ヒ", "フ", "ヘ", "ホ"],
    ["マ", "ミ", "ム", "メ", "モ"],
    ["ヤ", "", "ユ", "", "ヨ"],
    ["ラ", "リ", "ル", "レ", "ロ"],
    ["ワ", "", "", "", "ヲ"],
    ["ン", "", "", "", ""]
  ];

  private hiragana = [
    ["あ", "い", "う", "え", "お"],
    ["か", "き", "く", "け", "こ"],
    ["さ", "し", "す", "せ", "そ"],
    ["た", "ち", "つ", "て", "と"],
    ["な", "に", "ぬ", "ね", "の"],
    ["は", "ひ", "ふ", "へ", "ほ"],
    ["ま", "み", "む", "め", "も"],
    ["や", "", "ゆ", "", "よ"],
    ["ら", "り", "る", "れ", "ろ"],
    ["わ", "ゐ", "", "ゑ", "を"],
    ["", "", "", "", "ん"]
  ];

  /**
   * User request for start search
   */
  private async searchStart() {
    this.debounceSearch.cancel();
    if (this.searchRequest.length == 0) {
      this.$router.push({ name: "home" });
    } else {
      this.$router.push({
        name: "search",
        query: { q: this.searchRequest }
      });
    }
  }

  /**
   * Add japanese letter from list.
   */
  private async searchRequestAddLetter(letter: string) {
    this.searchRequest += letter;
    this.debounceSearch();
  }

  /**
   * When user update search request
   */
  private async onSearchRequestChange() {
    this.debounceSearch();
  }

  /**
   * Search request from input box.
   */
  private searchRequest = "";

  /**
   * Delayed search start
   */
  private debounceSearch = debounce(this.searchStart, 400);
}
</script>

<style lang="scss" scoped>
@import "@/shared/common.scss";

.home {
  display: grid;
  grid: auto 1fr / 1fr;
}

.search-bar {
  font-size: 3rem;

  display: grid;
  grid: 1fr / auto auto 1fr;
  align-items: center;
  gap: 0.4ch;
}

.search-box {
  text-align: center;
  padding: 0.4ch 0.4ch;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  background: none;
  color: rgb(173, 173, 184);
}
</style>
