<template>
  <section class="not-found">
    <div class="kaomoji">{{ kaomoji }}</div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({ components: {} })
export default class NotFound extends Vue {
  get kaomoji() {
    return this.kaomojies[Math.round(Math.random() * this.kaomojies.length)];
  }

  private kaomojies = [
    "(ノ_<。)",
    "(-_-)",
    "(´-ω-`)",
    ".･ﾟﾟ･(／ω＼)･ﾟﾟ･.",
    "(μ_μ)",
    "(ﾉД`)",
    "(-ω-、)",
    "。゜゜(´Ｏ`) ゜゜。",
    "o(TヘTo)",
    "( ; ω ; )",
    "(｡╯︵╰｡)",
    "｡･ﾟﾟ*(>д<)*ﾟﾟ･｡",
    "( ﾟ，_ゝ｀)",
    "(个_个)",
    "(╯︵╰,)",
    "｡･ﾟ(ﾟ><ﾟ)ﾟ･｡",
    "( ╥ω╥ )",
    "(╯_╰)",
    "(╥_╥)",
    ".｡･ﾟﾟ･(＞_＜)･ﾟﾟ･｡.",
    "(／ˍ・、)",
    "(ノ_<、)",
    "(╥﹏╥)",
    "｡ﾟ(｡ﾉωヽ｡)ﾟ｡",
    "(つω`｡)",
    "(｡T ω T｡)",
    "(ﾉω･､)",
    "･ﾟ･(｡>ω<｡)･ﾟ･",
    "(T_T)",
    "(>_<)",
    "(っ˘̩╭╮˘̩)っ",
    "｡ﾟ･ (>﹏<) ･ﾟ｡",
    "o(〒﹏〒)o",
    "(｡•́︿•̀｡)",
    "(ಥ﹏ಥ)"
  ];
}
</script>

<style lang="scss" scoped>
@import "@/shared/common.scss";
.not-found {
  display: grid;
  grid: 1fr / 1fr;
  font-size: 10vw;

  justify-items: center;
  align-items: center;
}

.kaomoji {
  text-shadow: 0rem 0rem 0.4rem transparent;
  transition: text-shadow $animationMiddleTime $animationFunction;

  &:hover {
    text-shadow: 0rem 0rem 0.4rem rgb(44, 62, 80);
    transition: text-shadow $animationVeryShortTime $animationFunction;
  }
}
</style>
