<template>
  <section class="search">
    <div class="result" v-for="(item, itemId) of sounds" :key="itemId">
      <div class="result-header">
        <div class="japanese">
          <div
            class="enumeration"
            v-for="(kana, kanaId) of item.alphabet.kana"
            :key="`${itemId}-ka-${kanaId}`"
            v-text="kana"
          />
        </div>
        <div class="romaji parentheses" v-text="item.alphabet.romaji" />
      </div>
      <div class="result-body">
        <template v-for="(sound, soundId) of item.sounds">
          <div class="sounds" :key="`${soundId}-so-${soundItemId}`">
            <div class="sound-wrapp">
              <div class="sound" v-html="`${sound.sounds.join(p())} `" />
            </div>
            <div class="explanation parentheses" :key="`ex-${soundId}`" v-text="sound.explanation" />
          </div>
        </template>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

interface IAlphabet {
  kana: string[];
  romaji: string;
}

interface ISound {
  sounds: string[];
  explanation: string;
}

interface IExampleImage {
  url: string;
  comics: string;
  chapter: string;
}

interface IExamples {
  images: IExampleImage[];
}

interface IResult {
  alphabet: IAlphabet;
  sounds: ISound[];
  examples: IExamples;
}

@Component({ components: {} })
export default class Search extends Vue {
  private p() {
    return '<div class="comma"></div> ';
  }

  private async created() {
    const request = this.$route.query.q;
    if (typeof request === "undefined") {
      this.$router.push({ name: "home" });
    }

    const test: IResult = {
      alphabet: {
        kana: ["スッ", "すっ"],
        romaji: "su"
      },
      sounds: [
        {
          sounds: ["pass", "pass by", "ignore", "whoosh"],
          explanation: "To walk straight past someone"
        },
        {
          sounds: ["pass"],
          explanation: "To put/pass something along"
        },
        {
          sounds: ["breathe in"],
          explanation: "Compare to *fu* (breathe out)"
        },
        {
          sounds: ["rain"],
          explanation: "-"
        },
        {
          sounds: ["slow movement"],
          explanation: "Ex. Cloth slowly slipping off, someone moving smoothly"
        },
        {
          sounds: ["hand", "crinkle"],
          explanation: "To hand over a sheet of paper to someone"
        },
        {
          sounds: ["unravel"],
          explanation: "Ex. Unraveling a scroll"
        },
        {
          sounds: ["sst"],
          explanation: "Smooth, covert movement"
        },
        {
          sounds: ["lean in", "lean"],
          explanation:
            "Smooth, looking-over-someone's-shoulder type covert movement"
        },
        {
          sounds: ["reach", "pull"],
          explanation: "To grab something, to hand over something"
        },
        {
          sounds: ["step", "steps in"],
          explanation: "-"
        }
      ],
      examples: {
        images: [
          {
            url: "examples/su/su1.jpg",
            comics: "",
            chapter: ""
          },
          {
            url: "examples/su/su2.jpg",
            comics: "",
            chapter: ""
          },
          {
            url: "examples/su/su3.jpg",
            comics: "",
            chapter: ""
          }
        ]
      }
    };

    this.sounds.push(test);
    this.sounds.push(test);
    this.sounds.push(test);

    // this.$router.push({ name: "not-found" });
  }

  private sounds: IResult[] = [];
}
</script>

<style lang="scss" scoped>
@import "@/shared/common.scss";

.search {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4ch;
  align-content: start;

  &::v-deep .comma {
    display: inline;
    &::after {
      content: ",";
      color: rgb(75, 75, 83);
      text-shadow: none;
    }
  }
}

.result {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1ch;
}

.japanese,
.romaji {
  display: inline;
}

.japanese {
  font-weight: 200;
  font-size: 2.2rem;
  color: rgb(173, 173, 184);
  text-shadow: 0rem 0rem 0.4rem rgb(173, 173, 184);

  &::after {
    content: " ";
    white-space: pre;
  }
}

.parentheses {
  color: rgb(111, 111, 124);
  // color: rgb(173, 173, 184);
  // font-style: italic;
  &::before {
    content: "(";
    color: rgb(75, 75, 83);
    text-shadow: none;
  }

  &::after {
    content: ")";
    color: rgb(75, 75, 83);
    text-shadow: none;
  }
}

.result-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1ch;
}

.enumeration {
  display: inline;
  color: rgb(173, 173, 184);

  &:not(:last-child) {
    &::after {
      content: ", ";
      color: rgb(75, 75, 83);
      text-shadow: none;
    }
  }
}

.sound {
  display: inline;
  color: rgb(173, 173, 184);
  // &::after {
  //   content: " ";
  //   white-space: pre;
  // }
}

.sound-wrapp {
  display: inline;
}

.explanation {
  display: inline;
  // font-style: italic;
  color: rgb(111, 111, 124);
}
</style>
