<template>
  <div class="drop-menu">
    <div class="drop-menu-header">{{ signature }}</div>
    <div class="drop-menu-body">
      <div class="letters">
        <template v-for="(letters, rowId) of alphabet">
          <template v-for="(letter, colId) of letters">
            <div
              class="letter"
              :key="`r-${rowId}-c-${colId}`"
              @click="searchRequestAddLetter(letter)"
              v-text="letter"
            />
          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({ components: {} })
export default class Alphabet extends Vue {
  @Prop({ type: String, required: true })
  private signature!: string;

  @Prop({ type: Array, required: true })
  private alphabet!: string[][];

  @Prop({ type: Function, required: true })
  private searchRequestAddLetterParent!: Function;

  private async searchRequestAddLetter(letter: string) {
    if (letter.length > 0) {
      this.searchRequestAddLetterParent(letter);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/shared/common.scss";

.drop-menu {
  position: relative;
  cursor: pointer;
  user-select: none;

  .drop-menu-header {
    font-weight: 200;
    color: rgb(75, 75, 83);
    text-shadow: 0rem 0rem 0.4rem transparent;
    transition: color $animationMiddleTime $animationFunction,
      text-shadow $animationMiddleTime $animationFunction;
  }

  &:hover {
    .drop-menu-header {
      color: rgb(173, 173, 184);
      // color: $pink;
      // text-shadow: 0rem 0rem 0.4rem rgb(173, 173, 184);
      text-shadow: 0rem 0rem 0.4rem $pink;
      transition: color $animationVeryShortTime $animationFunction,
        text-shadow $animationVeryShortTime $animationFunction;
    }

    .drop-menu-body {
      display: block;
    }
  }
}

.drop-menu-body {
  background-color: rgb(30, 30, 39);
  // background-color: red;
  position: absolute;
  top: 100%;
  display: none;
}

.letters {
  // padding: 1ch 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(1.6ch, auto));
  // grid-template-columns: repeat(auto-fit, minmax(4ch, auto));
  justify-content: space-between;
}

.letter {
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;

  color: rgb(75, 75, 83);
  text-shadow: 0rem 0rem 0.4rem transparent;
  transition: color $animationMiddleTime $animationFunction,
    text-shadow $animationMiddleTime $animationFunction;

  &:hover {
    color: rgb(173, 173, 184);
    // text-shadow: 0rem 0rem 0.4rem rgb(173, 173, 184);
    text-shadow: 0rem 0rem 0.4rem $pink;
    transition: color $animationVeryShortTime $animationFunction,
      text-shadow $animationVeryShortTime $animationFunction;
  }
}
</style>
