<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

html,
body,
#app {
  min-height: 100vh;
  width: 100%;
}
#app {
  font: 16px "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;

  // color: rgb(44, 62, 80);
  // color: hsl(210, 29%, 25%);
  color: rgb(75, 75, 83);
  background-color: rgb(30, 30, 39);

  display: grid;
  grid: 1fr / calc(100% - 1.4ch);
  justify-content: center;
}
</style>
